/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;

    --gray-background:#f5f5f5;
    --black-background:#000;
    --gray-background:#DDDDDD;

    --color-black:#000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: var(--font-family);;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
	line-height: 1;
}*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
	font-family: var(--font-family);;
}




html {
  overflow-y: scroll;
}
body{
    display: flex;

	background:#FFF;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color:var(--color-black);
	min-height: calc(100vh - 130px);
	font-family: var(--font-family);
	
	overflow:hidden;

   
    flex-direction: column;
    position: relative;
    min-height: 100%;
    /*min-width: var(--min-width);
    color: var(--text-black);
    background: var(--bg-gray);*/
    box-sizing: border-box;
}
a {
	text-decoration:none;
    color: #2e8ece;
}

.centrall_wrapper{
    position: relative;
    flex: 1 0 auto;
    align-self: center;
    width: 100%;
    min-height: var(--main-min-height);
    margin-top: calc(var(--hdr-overlap)* -1);
    box-sizing: border-box;
    width:100%;
   /* max-width: 1440px;*/
    
    background: var(--bg-white);
    border-radius: var(--br-xl);
}

    /*Header*/
    .bee_head{
        padding: 16px 0px 0px 0px;
    }
    .head_info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
        /*Brand Logo*/
        .brand_logo{
            position: relative;
            padding-left: 70px;
        }
        .brand_logo:before {
            content: "";
            position: absolute;
            background: url(/img/beecars_logo.svg);
            width: 63px;
            height: 61px;
            background-size: 100% 100%;
            top: 0px;
            left: 0px;
        }
        .brand_logo_company{
            font-family: var(--font-family);
            font-weight: 900;
            font-size: 32px;
            color:var(--color-black);
        }
        .brand_logo_text{
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 12px;
            color:var(--color-black);
        }

        /*Brands Contacts*/
        .brand_contacts{
            align-self: center;
            justify-self: center;
        }
        .phone-header{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 117%;
            color:var(--color-black);
            padding-bottom: 10px;
        }

        .phone-header a{ 
            color: var(--color-black);
            padding-left: 40px;
            position: relative;
            
        }
        .phone-header a:before{ 
            content: "";
            position: absolute;
            background: url(/img/icons/PhoneVibrate.svg);
            width:34px;
            height:31px;
            background-size: 100% 100%;
            top: -3px;
            left: 0px;
        }
        .phone-adress{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 156%;
            color:var(--color-black);
            padding-left: 40px;
            position: relative;
        }
        .phone-adress:before{ 
            content: "";
            position: absolute;
            background: url(/img/icons/Adress.svg);
            width:18px;
            height:23px;
            background-size: 100% 100%;
            top: -3px;
            left:8px;
        }
        /*Brands_time*/
        .brands_time{
            align-self: center;
            justify-self: center;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 146%;
            color:var(--color-black);
        }
        .brands_time span{
            font-size: 12px;
        }

        /*Header_Menu*/
        .head_menu{
            background: var(--gray-background);
        }
        .mainmenu{
            display: flex;
            align-items: center;
            gap: 32px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 15px;
            line-height: 124%;
            letter-spacing: -0.01em;
            padding: 8px 0px;
        }
        .mainmenu a{
            color:var(--color-black);
        }

        /*Header Actions*/
        .header-actions{
            align-self: center;
            justify-self: center;
        }

        /*Show menu button*/
        
            #butoon-header {
                padding-right: 40px;
                justify-content: flex-end;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                justify-content: space-around;
                position: relative;
            }

            .show-menu-desctop,.show-menu-mobile{
            
            }

            .show-menu-desctop label,.show-menu-mobile label{
                display:flex;
                flex-direction:column;
                width:35px;
                cursor:pointer;
            }
            .show-menu-desctop label span,.show-menu-mobile label span{
                background:var(--black-background);
                border-radius:10px;
                height:3px;
                margin:3.5px 0;
                transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
            }
            .show-menu-desctop span:nth-of-type(1),.show-menu-mobile span:nth-of-type(1){
                width:100%;  
            }
            .show-menu-desctop span:nth-of-type(2),.show-menu-mobile span:nth-of-type(2){
                width:100%;
            }
            .show-menu-desctop span:nth-of-type(3),.show-menu-mobile span:nth-of-type(3){
                width:100%;
            }
            .show-menu-desctop input[type="checkbox"],.show-menu-mobile input[type="checkbox"]{
            display:none;
            }
            .show-menu-desctop input[type="checkbox"]:checked ~ span:nth-of-type(1){
            transform-origin:bottom;
            /*transform:rotatez(45deg) translate(8px,0px);*/
            width:50%;
            transform: rotatez(45deg) translate(4px,0px);
            }
            .show-menu-desctop input[type="checkbox"]:checked ~ span:nth-of-type(2){
            
            transform-origin:top;
            transform:rotatez(-45deg)
            }
            
            .show-menu-desctop input[type="checkbox"]:checked ~ span:nth-of-type(3){
            
                transform-origin:bottom;
                width:50%;
                /*transform: translate(30px,-11px) rotatez(45deg);*/
                transform: translate(15px,-5.5px) rotatez(45deg);
            }

    /*MainPageSliders*/
        .index_top_block{
            position: relative;
            width: 100%;
            /* display: none; */
            /*height: calc(100vh - 250px);*/
            height: 500px;
            padding: 20px 0;
            background-color: #ffbf00;
            background: linear-gradient(to bottom, #F7B425 0%, #fcd45f 50%, #F7B425 100%);
            box-sizing: border-box;
        }

        .central_block{
            display: grid;
            grid-template-columns: 270px auto;
            padding:40px 135px;
            gap:32px;
        }

        /*Cars on mainpage*/
        .cars-on-mainpage-wrapper {
            width: 100%;
            background: #FFF;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            box-sizing: border-box;
            gap: 30px;
        }
        .main-car-card {
            background: #FFF;
            position: relative;
            margin-bottom: 30px;
            box-shadow: 0 4px 10px -5px rgb(0 0 0 / 20%);
            box-sizing: border-box;
        }
        .main-car-card-content h2{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 124%;
            letter-spacing: -0.01em;
            color:var(--color-black);
            padding: 10px;
        }
        .main-car-card-content h2 a{
            color:var(--color-black);
        }
        /*Days On Maincards*/
        .main-cars-days {
        }
        .main-cars-days ul {
            position: relative;
            flex-flow: row;
            font-size: 14px;
            font-weight: 400;
            color: #551a8b;
            display: flex;
            text-transform: uppercase;
            align-items: flex-end;
            top: 2px;
        }
        .main-cars-days ul li {
            outline: 0;
            border: 0;
            background: var(--gray-background);
            padding: 8px 5px;
            box-sizing: border-box;
            width:40px;
            color:var(--color-black);
            text-transform: uppercase;
            margin-left: 10px;
            transition: all 0.3s ease;
            font-weight:600;
            text-align: center;
            font-size: 18px;
            box-sizing: border-box;
            cursor: pointer;
            box-shadow: 0 4px 30px -5px rgb(0 0 0 / 20%);
        }

    /*Tech styles*/
    .padd_0_135{padding:0 135px;}